<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% spaceless %}{% block title %}Ekstraklasa{% endblock %}{% endspaceless %}</title>
    {% block stylesheets %}
        <link href="{{ asset('framework/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('ekstraklasa.ico') }}"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="container">
        <div style="padding-top: auto;">
            {{ include('partial/flash_messages.html.twig') }}
            {% block body %}{% endblock %}
        </div>
    </div>
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('framework/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
